.vkeyboard {
  .keyboard-preview {
    display: block;
    background-color: #eee;
    border: 1px solid #ddd;
    height: 30px;
    margin-top: 0;
    margin-bottom: 8px;
    padding: 4px;
    font-family: inherit;
  }

  button {
    height: 50px;
    margin: 2px;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid #999;
    border-radius: 2px;
    background-color: #efefef;
    cursor: pointer;
    &:active {
      background-color: #ddd;
    }
  }

  button.keyboard-key {
    width: 50px;
  }

  button.keyboard-shift,
  button.keyboard-backspace,
  button.keyboard-accept,
  button.keyboard-symbols {
    width: 104px;
  }

  button.keyboard-space {
    width: 266px;
  }

  button.keyboard-accept {
    background-color: rgb(0, 180, 0);
    color: white;
    &.numpad {
      width: 50px;
    }
  }

  .keyboard-row {
    text-align: center;
  }
}